/programming-principles-and-practice/06-writing-a-program/exercises/richard/MathExpressionParser/build/
/programming-principles-and-practice/06-writing-a-program/exercises/richard/MathExpressionParser/dist/
/programming-principles-and-practice/09-classes-etc/Richard/Book/dist/
/programming-principles-and-practice/09-classes-etc/Richard/Book/build/
/programming-principles-and-practice/09-classes-etc/Richard/ISBNPatttern/build/
/programming-principles-and-practice/09-classes-etc/Richard/ISBNPatttern/dist/
/programming-principles-and-practice/09-classes-etc/Richard/IPAddress/build/
/programming-principles-and-practice/09-classes-etc/Richard/IPAddress/dist/
/programming-principles-and-practice/09-classes-etc/Richard/RegexPresentation/node_modules/
/programming-principles-and-practice/09-classes-etc/Richard/RegexPresentation/app/bower_components/
/programming-principles-and-practice/09-classes-etc/Richard/RegexPresentation/nbproject/private/